.hidden {
  display: none;
}

body {
  background-color: black;
  color: white;
}

.flexbox-container {
  height: 66rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 3px red;
}

.flexbox-item-header {
  padding: 10px;
  position: relative;
  border: dashed 1px #000080;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: center;
  min-width: 200px;
}

.flexbox-item {
  color: red;
  width: 25%;
  min-width: 170px;
  margin-bottom: 5px;
  text-align: center;
  border: 1px dotted purple;
}

.healthy {
  background-color: green;
  color: green;
}

.underweight {
  background-color: yellow;
  color: yellow;
}

.overweight {
  background-color: orange;
  color: orange;
}

.flexbox-item-indicator {
  border: none;
}

.obese {
  background-color: red;
  color: red;
}

.image-link {
  text-decoration: none;
}

.flex-input {
  margin-bottom: 10px;
  width: 70%;
  background-color: black;
  color: navajowhite;
  border: none;
  border-bottom: 2px solid red;
  text-align: center;
}

.flexbox-button-submit {
  width: 25%;
}

.btn--submit,
.btn--history {
  background-color: black;
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
  width: 100%;
  min-width: 170px;
}
.btn--submit:active,
.btn--history:active {
  background-color: black;
  color: green;
  border: 2px solid transparent;
}

.widget .flexbox-item-result {
  border: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  overflow: scroll;

  background-color: #660000;
  padding: 2.5rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.btn--close {
  position: absolute;
  top: 5%;
  left: 95%;
  border: none;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
}

.history-table {
  border: 1px solid white;
  color: white;
  position: relative;
  margin: auto;
  width: 20%;
}

th,
td {
  border: 1px solid black;
}
