.hidden {
  display: none;
}

body {
  background-color: black;
  color: white;
}

.flexbox-container {
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 3px red;
}

.flexbox-item-header {
  padding: 10px;
  position: relative;
  border: dashed 1px #000080;
  margin-bottom: 10px;
  font-size: 18.3px;
  text-align: center;
  flex-grow: 0;
}

.flexbox-item {
  color: red;
  width: 30%;
  margin-bottom: 5px;
  text-align: center;
  border: 1px dotted purple;
}

.image-link {
  text-decoration: none;
}

.flex-input {
  margin-bottom: 10px;
  width: 70%;
  background-color: black;
  color: navajowhite;
  border: none;
  border-bottom: 2px solid red;
  text-align: center;
}

.flexbox-button-submit {
  width: 15%;
}

.btn--submit {
  background-color: black;
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
  flex-grow: 0;
}
.btn--submit:active {
  background-color: black;
  color: green;
  border: 2px solid transparent;
}

.flexbox-item-result {
  border: none;
}
